<div class="login-form">
<%= form_tag login_path, method: :post  do %>
<%= label_tag :email %> <%= text_field_tag :email %></p>
<%= label_tag :password %> <%= password_field_tag :password %>
<button type="submit">Login</button></p>
<% end %>
</div>

Need to make an account? Click <%= link_to "here", new_user_path %> to sign up.
