<div class="links-index">
<% @links.each do |link| %>
<%= link.url %>
<%= link.title %>
<% end %>
</div>

<h5>Make a new link:</h5>
<div class="new-link-form">
<%= form_tag links_path, :method => :post do %>
<%= label_tag :url %> <%= text_field_tag :url %></p>
<%= label_tag :title %> <%= text_field_tag :title %>

<%= submit_tag "Submit Link" %>
<% end %>
</div>
