<div class="links-index">
<% @links.each do |link| %>
<div class="link" data-link-id="<%= link.id %>" >
  <h5>Title: <%= link.title %></h5>
  <p>URL: <%= link.url %></p>
  <p><span class="read-status">Read status: <%= link.read %></span>
  <span class="mark-as-read"><button type="button">Mark as Read</button></span></p>
  <p> <%= link_to "Edit this link", edit_link_path(link) %>
</div>
<% end %>
</div>

<h5>Make a new link:</h5>
<div class="new-link-form">
<%= form_tag links_path, :method => :post do %>
<%= label_tag :url %> <%= text_field_tag :url %></p>
<%= label_tag :title %> <%= text_field_tag :title %>

<%= submit_tag "Submit Link" %>
<% end %>
</div>
