<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<% flash.each do |type, message| %>
  <%= content_tag :div, sanitize(message), class: "alert-#{type}" %>
<% end %>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
